<h1> Spaces </h1>

<% if current_user %>
<p>Here the information about the spaces of <% current_user.name %></p>
<% end %>

<% @spaces.each_with_index do |s, i| %>
<div id='space_<%= i%>' class='spaces'>
<h3> @<%= s.user.username %></h3>
	<p> <%= s.name %> </p>
	<p class="space_description"> <%= s.description %> </p>
</div>
<% end %>