<h1>Create spaces</h1>
<form action="/spaces" method='post'>
  <input class='sign' type='text' name='name' placeholder='Name' required><br>
  <textarea class="sign" name='description' placeholder="Description" required=""></textarea><br>
  <input class='sign' type='text' name='price'  placeholder='Price' required><br>
  <input class='sign' type='text' name='available_from' placeholder='Available form'><br>
  <input class='sign' type='text' name='available_to' placeholder='Available until'><br>
  <input class='sign' type='submit' value='Create space'>
</form>