<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BnByte4</a><br>
    </div>
    <div>
      <% unless current_user %>
      <form class='nav' action="/sessions/new">
        <input class='navbar_button' type="submit" value="Sign in">
      </form>
      <form class='nav' action="/users/new">
        <input class='navbar_button' type="submit" value="Sign up">
      </form>
      <% else %>
      <form class='nav' action='/sessions' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input class='navbar_button' type='submit' value='Sign out'>
      </form>
      <form class='nav' action="/requests">
        <input class='navbar_button' type="submit" value="Requests">
      </form>
      <form class='nav' action="/spaces/account">
        <input class='navbar_button' type="submit" value="My spaces">
      </form>
      <% end %>
    </div>
  </div>
</nav>