<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>BnByte4</title>
</head>
<body>
  <%= partial :navigation_bar %>
  
  
  
  <div class="container-fluid bg-1 text-center">
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </div>

  <!-- Footer -->
  <footer>
    <p class='credit'>BnByte4 members: <a href="https://github.com/omajul85" target="_blank">Omar Alvarez</a>, <a href="https://github.com/DXTimer" target="_blank">Ivan Bakalov</a>, <a href="https://github.com/chriselevate" target="_blank">Chris Coates</a>, <a href="https://github.com/jackrim1" target="_blank">Jack Riminton</a></p> 
    <p class='credit'>Bootstrap Theme Made By <a href="http://www.w3schools.com" target="_blank">www.w3schools.com</a></p> 
  </footer>
  
</body>
</html>